{% extends "base.html" %}

{% block announce %}
<div style=" display: flex; justify-content: center; align-items: center;">
    <span style="font-weight: 600;">WE'RE HIRING!</span> <span style="margin: 0 10px;">Help us shape the future of LLM app development.</span>
    <a href="https://jobs.ashbyhq.com/zep-ai" style="color: white; text-decoration: underline;">
        Learn More
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
            viewBox="0 0 16 16" style="vertical-align: middle;">
            <path fill-rule="evenodd"
                d="M6.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L12.293 8 6.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </a>
</div>
{% endblock %}