{% extends "base.html" %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
<script src="https://unpkg.com/@mendable/search@0.0.108/dist/umd/mendable-bundle.min.js"></script>
<script>
Mendable.initialize({
    anon_key: '7e09805a-d88f-40b2-be3d-987ba1cb5548',
    type:"floatingButton",
    style: {
        darkMode: true,
        accentColor: "#7E56C2",
    },
    icon: "/assets/images/zep-bot-square-200.png"
});
</script>
{% endblock %}

{% block announce %}
<div style=" display: flex; justify-content: center; align-items: center;">
    Looking for support and community? Join the Zep Discord!
    <a href="https://discord.gg/W8Kw6bsgXQ" style="display: flex; align-items: center; margin-left: 20px;">
        <img src="https://dcbadge.vercel.app/api/server/W8Kw6bsgXQ?style=flat" alt="Zep Discord"/>
    </a>
</div>
{% endblock %}
